#InstructionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 30px;
}

h1 {
  color: rgb(108,125,178);
}

h2 {
  color: rgba(6,22,98,1);
}

li {
  color: rgba(71,89,161,1);
  margin: 25px 0;
}